
div {
    border-radius: 9px;
}

.project {
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    text-decoration: underline;
}

.branch {
    margin: 0px;
    padding: 2px 2px 2px 40px;
}

.status {
    background-color: rgba(0, 120, 200, 0.13);
    margin:2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
    border-radius: 9px;
}


.logs {
    background-color: rgba(200, 200, 120, 0.13);
    margin:2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
}


.summary {
    background-color: rgba(20, 50, 120, 0.3);
    margin:2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
}

.description {
    background-color: rgba(20, 50, 120, 0.13);
    margin:2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
}

.comments {
    background-color: rgba(120, 50, 20, 0.13);
    margin: 2px;
    padding: 1px;
}

