
body {
    background:#444;
    color:#fff;
}


div {
    border-radius: 9px;
}

.commentHeading {
    font-weight: bold;
    color: #E88;
    font-family: monospace;
}

.commentBody {
    color: #6CC;
    font-family: monospace;
}

.info {
    font-style: italic;
    font-family: monospace;
    font-size: 12px;
}

.tiny {
    font-size:8px;
}

.goodText {
    color:green
}

.errorText {
    color:red
}

.project {
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    text-decoration: underline;
}

.branch {
    margin: 0px;
    padding: 2px 2px 2px 40px;
}

.status {
    background-color: rgba(0, 120, 200, 0.13);
    margin:2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
    border-radius: 9px;
    height: 275px;
    overflow:auto;
}


.row {
    margin: 1px;
}

.diff {
    background-color: rgba(80, 255, 255, 0.13);
    margin: 10px;
    padding: 10px;
    height: 300px;
    overflow:auto;
}

.diffOnFile {
    color: #56B1FF;
}

.diffAddition {
    color: #29C529;
}

.diffSubtraction {
    color: #FD5B5B;
}

.diffLineAddition {
    color: #0f0;
}

.diffLineSubtraction {
    color: #f00;
}

.diffOther {
    color: #F3C9F3;
}

.summary {
    background-color: rgb(46, 65, 109);
    margin: 5px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
    color: rgb(89, 251, 239);
}

.description {
    background-color: rgba(20, 50, 120, 0.13);
    margin:2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
    height: 250px;
    overflow:auto;
}


.user_block {
    background-color: rgb(0,0,0);
    margin: 4px;
    padding: 7px;
}

.commentsContainer {
    margin: 2px;
    padding: 2px;
    height: 110px;
    overflow:auto;
}

.logs {
    background-color: rgba(200, 200, 120, 0.13);
    margin:2px;
    padding: 2px;
    height: 125px;
    overflow:auto;
}


.author {
    color : #7EE6A5;
}

.swimlane {
    background : rgba(255,255,255, .8);
    color:#000;
    width: 95%;
    margin: auto;
    height:100%;
    border-radius: 4px;
    padding: 5px;
    overflow:auto;
}

.commit {
    width: 2px;
    height: 19px;
    background: #a94442;
    color:#009;
    display: inline-block;
    margin: 1px;
    vertical-align: middle;
}